services:
  pg:
    image: postgres:15.1-alpine
    container_name: database-dev
    restart: always
    ports:
      - 5432:5432
    env_file:
      - .env
    volumes:
      - db:/var/lib/postgresql/data

volumes:
  db:
    driver: local
